@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-attachment: fixed;
    background-image: url(https://clipground.com/images/transparent-png-textures-5.png);
    background-color: #1f1f1f;
    top: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }